git+git://github.com/PrettyWood/pydantic.git@f/discriminated-union#egg=pydantic
git+git://github.com/andrewbolster/sqlmodel@patch-1#egg=sqlmodel
pyyaml
sqlmodel
fastapi
aiofiles
python-socketio
uvicorn
figenv
aiosqlite
sqlalchemy[asyncio]
